/* Recently edited widget
-------------------------------------------------- */

#aucor_recent_dashboard_widget {
  .inside {
    padding: 0;
    margin: 0;
  }
  li {
    display: block;
    list-style-type: none;
    padding: 0 0 .1rem;
    display: flex;
    flex-direction: row;
  }
  .aucor-recent-time {
    color: #72777c;
    padding-right: 1.5rem;
    min-width: 100px;
  }
  p {
    color: #72777c;
  }
  li {
    @media(max-width: 420px) {
      flex-wrap: wrap;
    }
  }
  .aucor-recent-link {
    @media(max-width: 420px) {
      min-width: 250px;
    }
  }
  .aucor-recent-section {
    display: block;
    padding: .75rem .75rem;
    border-bottom: 1px solid #eee;
  }
  .aucor-recent-section:last-of-type {
    border-bottom: 0;
  }
}
